* {
  box-sizing: border-box;
}
.cal-background {
  background-color: aqua;
  padding: 50px;
  .cal-container {
    width: 280px;
    height: 490px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #0000cc;
    box-shadow: 1px 1px 50px #000 inset;
    .title {
      color: white;
      font-weight: bold;
    }
    .screen {
      width: 100%11px;
      height: 40px;
      background: linear-gradient(to right, #8e9eab, #eef2f3);
      border-radius: 8px;
      box-shadow: 0 -3px #000099;
      margin: 10px 0;
    }
    .row-layout {
      .row {
        display: flex;
        justify-content: space-between;
        .btn {
          width: 50px;
          height: 50px;
          border: none;
          margin: 10px 0;
          box-shadow: inset 1px 1px 50px #0066ff;
          &.btn-AC {
            box-shadow: inset 1px 1px 50px #990000;
          }
          &.btn-CE{
            box-shadow: inset 1px 1px 50px #cc6600;
          }
          &.btn-elquas{
            box-shadow: inset 1px 1px 50px #006633;
          }
          &.btn-empty {
            visibility: hidden;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
